$head-bg-color: #FFC63C;
$heading-color: #041B87;
$header-top-padding: 10px 0;
$heading-font: libre Baskerville;

body {
	margin: 0;

	header {
		padding: 0px;
		margin: 0px;
		background: $head-bg-color;
		font-family: $heading-font;
		color: $heading-color;

		header p {}


		.input-no-padding {
			padding-left: 0px;
		}

		div {
			a{
				color: $heading-color;
			}
		}
	}

	nav {
		ul {
			display: flex;
			list-style-type: none;
			justify-content: space-around;

			li {
				a {
					color: $heading-color;
				}

				#forside {
					text-decoration: underline;
				}
			}
		}
		
		.searchicon {
			margin: 0px;
			border: 0px;
			background: transparent;
		}

		.submit {
			padding: 0px;
		}

		.input {
			padding: 5px;
		}
		

		
	}

	footer {
		display: flex;
		background: $head-bg-color;

		p {
			margin: 0px;
		}
		
		.footerInhold {
			flex: 1;
		}

		img {
			width: 12%;
		}
	}
}